{% extends 'core/base.html'%}
{% block content%}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    

    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    

    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    

    </div>
</div>
{% endblock content%}